html {
            background: url("/static/about/bg_02_about_new_york.jpg") no-repeat center fixed;
            background-size: cover;
            width: 42%
        }

body {
    color: white;
}

.button_style {
    background-color: Transparent;
    color: white;
    border: 2px solid #F0F8FF;
}

.button_style:hover {
    background-color: #F0F8FF;
    color: gray;
}
