html {
    background: url("/static/contacts/bg_04_contacts_las_vegas.jpg") no-repeat center fixed;
    background-size: cover;
    width: 40%
}

body {
    color: white;
}

.button_style {
    background-color: Transparent;
    color: silver;
    border: 2px solid #434F89;
}

.button_style:hover {
    background-color: #434F89;
    color: gold;
}
