html {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/static/user/bg_06_user_orlando.jpg") no-repeat center fixed;
    background-size: cover;
    width: 35%
    background-image:
}

body {
    color: white;
}

.button_style {
    background-color: Transparent;
    color: #FB9459;
    border: 2px solid #FB9459;
}

.button_style:hover {
    background-color: #142736;
    color: #FB9459;
}
