html {
    background: url("/static/user/bg_07_registration_low_honolulu.jpg") no-repeat center fixed;
    background-size: cover;
    width: 35%
    background-image:
}

body {
    color: white;
}

.button_style {
    background-color: Transparent;
    color: #044CAD;
    border: 2px solid #044CAD;
}

.button_style:hover {
    background-color: #044CAD;
    color: white;
}
