<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
    <h1>
        <p style="font-family:'Courier New'">Hello stranger! Let's get acquainted!</p>
    </h1>
    <br>
    <h2>My name is {{ first_name }} {{ last_name }}. Nice to see you on my site).</h2>
    <h2>To get to know each other better please read this little cover letter about me.</h2>
    <p>Small cover letter will be here.</p>
    <h2>Also you can find information about me on these resources:</h2>
    <p>Links to my git account, hh.ru account and instagram account will be here.</p>
    <!--<a href="/">Main page</a>--> <!--simple html backward link w/o Django-->
    <a href="{% url 'index' %}">Main page</a>
</body>
</html>