{#Любая страница проекта должна наследоваться от данной страницы, или от ее потомков#}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="ikrugloff portfolio">  <!--What the reason to use <meta name=""-->
        <meta name="author" content="Ilia Kruglov"> <!--What the reason to use <meta name="" -> CEO-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}{% endblock %}
        </title>

        <link href="{% static 'css/global.css' %}" rel="stylesheet">

        {% block css %}
            {# Здесь добавляем локальные стили для каждой страницы #}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# Эта часть будет меняться, поэтому оставляем этот блок
        {% endblock %}
    </body>
</html>
