{% extends "base.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block bodyhtml %}
    html {
        background: url("/static/contacts/bg_04_contacts_las_vegas.jpg") no-repeat center fixed;
        background-size: cover;
        width: 40%
    }

    body {
        color: white;
    }
{% endblock %}

{% block button %}
    {{ block.super }}
{% endblock %}

{% block button_style %}
    .button_style {
        background-color: Transparent;
        color: silver;
        border: 2px solid #434F89;
    }
{% endblock %}

{% block button_hover %}
    .button_style:hover {
        background-color: #434F89;
        color: gold;
    }
{% endblock %}

{% block body %}

{% block authentication %}
    {{ block.super }}
{% endblock %}

<div style="background-color:rgba(0, 0, 0, 0.5);">
    <div>
        <p>
            <h1>
                <p style="font-family:'Courier New'">Contacts</p>
            </h1>
        </p>
    </div>
</div>
<a href="{% url 'index' %}" class="button button_style"><b>Main page</b></a>
{% endblock %}
