{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Email Me
{% endblock %}

{% block css %}
    <link href="{% static 'css/contacts.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include 'inc-login.html' %}

    <div style="background-color:rgba(0, 0, 0, 0.5);">
        <h1>
            <p style="font-family:'Courier New'">Email Me</p>  {# style= old method of formatting #}
        </h1>

        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
            <div class="form-actions">
              <button type="submit">Send</button>
            </div>
        </form>
    </div>
    <a href="{% url 'index' %}" class="button button_style"><b>Main page</b></a>
{% endblock %}



