{% csrf_token %}
<table>
    {% for field in form %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                <div class="">
                    <ul>
                        {% for error in field.errors %}
                            <li class="error">errors:{{ error }}</li>
                        {% endfor %}
                        {{ field }}
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
