{% extends "base.html" %}

{% block title %}
    Main page
{% endblock %}

{% block bodyhtml %}
    {{ block.super }}
{% endblock %}

{% block hero-image %}
    {{ block.super }}
{% endblock %}

{% block hero-text %}
    {{ block.super }}
{% endblock %}

{% block button %}
    {{ block.super }}
{% endblock %}

{% block button_style %}
    {{ block.super }}
{% endblock %}

{% block button_hover %}
    {{ block.super }}
{% endblock %}

{% block body %}
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">I am {{ first_name | title }} {{ last_name | title }}</h1> <!--template filter-->
        <h3>And I'm a Programmer</h3>
        <a href="{% url 'about' %}" class="button button_style"><b>About me</b></a>
        <a href="{% url 'skills' %}" class="button button_style"><b>My skills</b></a>
        <a href="{% url 'contacts' %}" class="button button_style"><b>Contacts</b></a>
        <a href="{% url 'pictures' %}" class="button button_style"><b>Pictures</b></a>
        <a href="{% url 'login' %}" class="button button_style"><b>Log In</b></a>
    </div>
    {% block authentication %}
        {{ block.super }}
    {% endblock %}
    <h2 style="color:#FFFFFF">Request parameters: {{ params }}</h2> {# CSS method to change color locally. #}
</div>
<!--{% for post in posts %}-->
<!--<h2>-->
    <!--{{ post.title }}-->
<!--</h2>-->
<!--<p>Category: {{ post.category.name }}</p>-->
<!--{% endfor %}-->
{% endblock %}
