{% extends "base.html" %}
{% load staticfiles %}

{% block html %}
    {% block head %}
        <title>
            Authorization
        </title>

        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    {% endblock %}

    {% block body %}
        <div style="background-color:rgba(0, 0, 0, 0.0);">
            <div>
                <p>
                    <h1>
                        <p style="font-family:'Courier New'">Authorization</p>
                    </h1>
                    {% block authentication %} {# Why we should override auth form here??? #}
                        <form method="post" action="">
                            {% csrf_token %} {# 02:04:00 #}
                            <input type="text" name="login" value="" placeholder="Login">
                            <input type="password" name="password" value=""> {# eq inputed data #}
                            <button type="submit" class="button button_style"><b>Submit</b></button>
                        </form>
                        {{ error }}
                    {% endblock %}
                </p>
            </div>
        </div>
        <a href="{% url 'index' %}" class="button button_style"><b>Main page</b></a>
    {% endblock %}
{% endblock %}
