{% extends "base.html" %}

{% block title %}
    Pictures
{% endblock %}

{% block bodyhtml %}
    html {
        background: url("/static/pictures/bg_05_pictures_washington.jpg") no-repeat center fixed;
        background-size: cover;
        width: 30%
    }

    body {
        color: white;
    }
{% endblock %}

{% block button %}
    {{ block.super }}
{% endblock %}

{% block button_style %}
    .button_style {
        background-color: Transparent;
        color: white;
        border: 2px solid #E9D1A5;
    }
{% endblock %}

{% block button_hover %}
    .button_style:hover {
        background-color: #E9D1A5;
        color: black;
    }
{% endblock %}

{% block body %}
<div style="background-color:rgba(0, 0, 0, 0.5);">
    <div>
        <p>
            <h1>
                 <p style="font-family:'Courier New'">Pictures</p>
            </h1>
        </p>
        {% load static %}
        <img src="{% static 'pictures/me.jpg' %}" style="width:100%;height:100%;">
    </div>
</div>
<a href="{% url 'index' %}" class="button button_style"><b>Main page</b></a>
{% endblock %}
