{% extends "base.html" %}
{% load staticfiles %}

{% block html %}
    {% block head %}
        <title>
            Pictures
        </title>

        <link href="{% static 'css/pictures.css' %}" rel="stylesheet">
    {% endblock %}

    {% block body %}
        {% block authentication %}
            {{ block.super }}
        {% endblock %}

        <div style="background-color:rgba(0, 0, 0, 0.5);">
            <div>
                <h1 style="font-family:'Courier New'">Pictures</h1>
                <ul>
                {% for picture in objects %}
                    <li>
                        <h2 style="font-family:'Courier New'">{{ picture.name }}</h2>
                        <img src="{{ picture.img.url }}" width=90%>
                        {% if picture.file %}
                            <a href="{{ picture.file.url }}">Attached file</a>
                        {% endif %}
                    </li>
                    <p>
                        {{ picture.description }}
                    </p>
                    <p>Author: {{ picture.user.username }}</p>
                    <div>Did the admin write this: {{ picture.user.is_superuser }}</div>
                {% endfor %}
                </ul>
            </div>
        </div>
        <a href="{% url 'index' %}" class="button button_style"><b>Main page</b></a>
        <a href="{% url 'pictures_add' %}" class="button button_style"><b>Add new picture</b></a>
    {% endblock %}
{% endblock %}

